.container {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../../assets/img_1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  color: #fff;
  height: 91vh;
}

.homeContent h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.homeContent span {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: block;
}

@media only screen and (max-width: 768px) {
  .homeContent h1 {
    font-size: 2rem;
  }
  
  .homeContent span {
    font-size: 1rem;
  }
}
