.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url(../../assets/img_14.jpg) no-repeat center  fixed;
    background-size: cover;
    color: #fff;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .video_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .video {
    margin-bottom: 1rem;
  }

  .about_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
  }
  
  .about_div section {
    margin-bottom: 2rem;
  }
  
  @media only screen and (min-width: 768px) {
    .content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .video_div {
      max-width: 40%;
      margin-right: 2rem;
      margin-bottom: 0;
    }
  
    .about_div {
      max-width: 50%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .video_div {
      max-width: 50%;
    }
  
    .about_div {
      max-width: 40%;
    }
  }
   